.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally */
    /* justify-content: center; Align items vertically */
    height: 100vh; /* Take full height of the viewport */
    gap: 20px;
    background-color: rgb(186, 53, 235);
  }

.initialOutput{
    display: flex;
    gap: 30px;
}

.finalOutput{
    display: flex;
    gap: 30px;
}

.item {
    background-color:  rgb(117, 56, 140);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    width: 70px; 
  }

  input{
    border: 2px solid white;
    color: white;
    background-color:  rgb(118, 35, 148) ;
  }

  button{
    border: 2px solid white;
    color: white;
    background-color: rgb(133, 46, 165);
  }
  h1{
    color: white;
  }
  span{
    color: rgb(78, 8, 86) !important;
  }

  @media(max-width: 700px){
    .initialOutput{
        flex-wrap: wrap;
        justify-content: center;
    }
    .finalOutput{
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        width: calc(50% - 20px); /* Set width to half of the container width with gap */
      }
  }